@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


*{
    box-sizing: border-box;
}

body{    
    
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family:'Montserrat';
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    justify-content: center;

    
}

.container{
    
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    

}


/*---------------------------------------Authen
*/

.auth-container{
    width: 50%;
    height:50%;
    background-color: rgb(216, 208, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 0 100px 20px #3333331A;
}


.auth-container form{
    
    
    display: flex;
    padding:0.5rem;
    
    
    flex-direction: column;
}

.auth-container form input{
    margin-top: 5px;
    width: 80%;
    
}

.auth-container  button a{
    
text-decoration: none;
color: black;

}

.auth-container button{
    
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.information{
    font-size: 40%;
}

/*   container app*/

.container.app{
    margin-top: 20px;
    margin-bottom: 5px;
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 10px;
    overflow: hidden;
    
    width: 80%;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header{
    background-color:rgb(209, 202, 202);
    width: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{

    object-fit: contain;
}

.profile-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.profile-btn:hover{
    box-shadow: 0 0 100px 10px #3333331A;
}

.profile-btn img{
    width: 20px;
    height: 20px;
    
}

.swipe-zone{
    height: auto;
    width: 50%;
    background-color: whitesmoke;
    padding:0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.swipe-zone .photo-profil{
    border-radius: 5px;
    height: 100%;
    width: 90%;
    object-fit: contain;
    cursor: pointer;
}

.swipe-zone .nom-prenom{
    padding: 0.8rem;
}

.swipe-zone .choice{

    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.swipe-zone .choice .choice-logo{
    height: 100%;
    width: 10%;
}

/*
                POP UP PROFILE

*/
.profile-popup-container.hidden{
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    
}

.profile-popup-container{
    opacity: 1;
    background-color: #fc6767;
    width:30%;
    
    height: auto;
    padding: 0.5rem;
    border-radius: 10px;
}
.profil-info{
    display: flex;
    flex-direction: column;
    
    
}



.profil-info .profil-info-nom-prenom{
    text-align: center;

    
}

.match-container h3{
    text-align: center;

}

.match-container .match-list img{
    height: 20%;
    width: 20%;
    border-radius: 50px;

}


